<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url"/>
    <property name="connection.driver_class"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
<!--    mysql driver-->
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_gdse_72?createDatabaseIfNotExist=true</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">12345678</property>
<!--    mysqlversion-->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
<!--    query show-->
    <property name="hibernate.show_sql">true</property>
<!--    create-create tables everytime,delete old data-->
<!--schemea genaration strategy-->
    <property name="hibernate.hbm2ddl.auto">update</property>
<!--   create - create schema  -->
<!--   update - update schema -->
<!--    create-drop - create a schema and drop it when programme stops-->
<!--   validate - validate whether the schema is created in a correct way -->
  </session-factory>
</hibernate-configuration>